.WindowBackground {
  background-color: #c1d5e0;
  background-image: url("./WEB_CHAT/image/logo-vector.svg");
  background-size: 50vh;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  width: 100vw;
  height: calc(var(--vh, 100vh) * 100);
  width: calc(var(--vw, 100vw) * 100);
}