body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

footer {
  background-color:#c1d5e0;
  align-self: flex-end;
  width: 100vw;
  display: flex;
  margin-top: 1vh;
  margin-bottom: 1vh;
  flex-shrink: 1;
  flex-grow: 1;
  flex-direction: row;
  justify-content: center;
}

.UserInput {
  height:100vh;
  resize: none;
  width: 85vw;
}

.MessageList {
  width: 100%;
  height: 85vh;
  margin-top: 1vh;
  display: flex;
  flex-direction: column;
}

.WindowBackground {
  background-color: #c1d5e0;
  background-image: url("./logo-transparent.svg");
  background-size: 50vh;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

